.row {
  display: flex;
  justify-content: center;
}
.filter-properties {
  flex: 0 0 20%;
}
.gallery-wrapper {
  flex: 0 1 70%;
  /* margin:0 auto; */
  /* flex-wrap: wrap; */
  /* display: flex;
  justify-content: flex-end; */
  padding: 0;
}
