body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	text-decoration: none;
	list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  max-width: 1230px;
  min-height: 100vh;
  
  margin: 0 auto;
  padding: 0 20px;
  
	height:100vh;
}
.main{
	flex: 1 1 auto;
	
}
.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	box-shadow: 0 0 35px #eee; 
	
}
a {
  text-decoration: none;
}
ul li{
	list-style:none;
}
button{
	border: none;
	outline: none;
	background: transparent;
	cursor: pointer;
}
/*--- Header ----*/
@import url("./components/header/header.css");
/* ----Footer-------- */
@import url('./components/footer/footer.css');

/* -------Gallery------- */
@import url('./components/gallery/gallery.css');

/* -------ProductItem----- */
@import url('./components/productItem/productItem.css');